.settings/
target/
.classpath
.project

java_courses_tlt-api/target/
java_courses_tlt-api/.settings/
java_courses_tlt-api/.classpath
java_courses_tlt-api/.project

java_courses_tlt-db/.settings/
java_courses_tlt-db/target/
java_courses_tlt-db/.classpath
java_courses_tlt-db/.project

java_courses_tlt-impl/.settings/
java_courses_tlt-impl/target/
java_courses_tlt-impl/.classpath
java_courses_tlt-impl/.project

java_courses_tlt-logging/target/
java_courses_tlt-logging/.settings/
java_courses_tlt-logging/.classpath
java_courses_tlt-logging/.project